<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <form method="post" action="/register">
        Name<input type="text" name="Name"><br>
        Contact<input type="text" name="Contact"><br>
        Address<input type="text" name="Address"><br>
        Country<input type="text" name="Country"><br>
        Gender <input type="radio" name="Gender"> Male
        <input type="radio" name="Gender"> Female
        Password<input type="password" name="Password"><br>
        <input type="submit" value="Register">
    </form>
    </div>
    <a href="login.html"><h1>Login</h1></a>
    <a href="index.html"><h1>Home</h1></a>
</body>
</html>